@model List<VehicleResource>
@{
    ViewData["Title"] = "Vehicule";
}
<div class="w-100">
    <div class="row">
        <div class="col-md-10 m-auto">
            @if (TempData["SuccessMessage"] is not null)
            {
                <div class="alert alert_success">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["SuccessMessage"]
                    </span>
                </div>
            }
            @if (TempData["ErrorMessage"] is not null)
            {
                <div class="alert alert_error">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["ErrorMessage"]
                    </span>
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 m-auto mb-3">
            <a asp-controller="Vehicle" asp-action="Create" class="nav-link">
                Enregister un nouveau vehicule de patrouille
            </a>
        </div>
        <div class="col-md-10 m-auto">
            <table class="table dt-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Plaque</th>
                        <th>Marque</th>
                        <th>Model</th>
                        <th>KM</th>
                        <th>Année</th>
                        <th>Enregistré le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {
                        @foreach (VehicleResource vehicle in Model)
                        {
                            <tr>
                                <td>@vehicle.Id</td>
                                <td>@vehicle.LicensePlate</td>
                                <td>@vehicle.Brand</td>
                                <td>@vehicle.Model</td>
                                <td>@vehicle.KM</td>
                                <td>@vehicle.Year</td>
                                <td>@vehicle.Created_at</td>
                                <td class="d-flex gap-1">
                                    <button class="btn edit-vehicle" data-vehicle-id="@vehicle.Id" data-bs-toggle="modal" data-bs-target="#editVehicleModal">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn text-danger delete-vehicle" data-vehicle-id="@vehicle.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="editVehicleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h2 class="modal-title fs-6">Actualisez les informations d'un vehicule</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-card p-4" id="editVehicleForm">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Marque</label>
                                    <select id="VehicleBrandId" class="form-select">                                                               
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Model<span class="text-danger"> *</span></label>
                                    <input id="Model" id="model" class=" form-control" type="text" placeholder="Informer le model du vehicule">
                                    <span class="text-danger" id="model-error"><small></span>
                                </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Plaque d'imatriculation</label>
                                    <input id="LicensePlate" class="form-control" type="text" placeholder="Informer la plaque d'imatriculation'">
                                    <span class="text-danger" id="LicensePlate-error"></span>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Kilometrage</label>
                                    <input id="KM" class="form-control" type="number" placeholder="Informer le kilometrage">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Année</label>
                                    <input id="Year" class="form-control" type="number" placeholder="Informer l'année de fabrication'">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Remarque ou observation</label>
                                    <textarea id="Remark" class="form-control" type="number" placeholder="une remarque sur l'état du vehicule'"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-end p-4">
                                <button type="submit" class="btn btn-block form-btn-submit text-white">Actualiser</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/js/vehicle/index.js"></script>
}
