@model List<NeighborhoodModel>;
@{
}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row">
        <div class="col-md-10 m-auto">
            @if (TempData["SuccessMessage"] is not null)
            {
                <div class="alert alert_success">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["SuccessMessage"]
                    </span>
                </div>
            }
            @if (TempData["EroorMessage"] is not null)
            {
                <div class="alert alert_error">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["EroorMessage"]
                    </span>
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-10 m-auto mb-3">
                <a asp-controller="Neighborhood" asp-action="Create" class="nav-link">
                    Enregister un quartier
                </a>
            </div>
        </div>
        <div class="col-md-10 m-auto">
            <table class="table dt-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Quartier</th>
                        <th>Ville</th>
                        <th>Commune</th>
                        <th>Habitant</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {
                        foreach(NeighborhoodModel neighborhood in Model)
                        {
                            <tr>
                                <td>@neighborhood.Id</td>
                                <td>@neighborhood.Name</td>
                                <td>@neighborhood.City.Name</td>
                                <td>@neighborhood.Municipality.Name</td>
                                <td>@neighborhood.Population</td>
                                <td class="d-flex gap-1">
                                    <button class="btn edit-neighborhood" data-neighborhood-id="@neighborhood.Id" data-bs-toggle="modal" data-bs-target="#editNeighborhoodModal">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn text-danger delete-neighborhood" data-neighborhood-id="@neighborhood.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="editNeighborhoodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h2 class="modal-title fs-6">Actualisez les informations d'une ville</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-card p-4" id="editNeighborhoodForm">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Nom de la ville<span class="text-danger"> *</span></label>
                                    <input id="Name" class=" form-control" type="text" placeholder="Informer le nom de la ville">
                                    <span class="text-danger"><small></small></span>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Ville <span class="text-danger">*</span></label>
                                    <select disabled id="select-city-id" class="form-control" type="text" placeholder="Informer la ville">                                        
                                    </select>
                                    <span class="text-danger"><small></small></span>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Commune <span class="text-danger">*</span></label>
                                    <select disabled id="select-municipality-id" class="form-control" type="text" placeholder="Informer">
                                    </select>
                                    <span class="text-danger"><small></small></span>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Total Habitant</label>
                                    <input id="Population" class="form-control" type="number" placeholder="Informer le total d'habitant">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Latitude la ville</label>
                                    <input id="Latitude" class="form-control" type="number" placeholder="Informer la latitude">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Longitude de la ville</label>
                                    <input id="Longitude" class="form-control" type="number" placeholder="Informer la longitude">
                                </div>
                            </div>
                            <div class="row justify-content-end p-4">
                                <button type="submit" class="btn btn-block form-btn-submit text-white">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script src="~/js/neighborhood/index.js"></script>
}
