@model List<MunicipalityModel>
@{
    ViewData["Title"] = "Commune";
}
<div class="w-100">
    <div class="row">
        <div class="col-md-10 m-auto">
            @if (TempData["SuccessMessage"] is not null)
            {
                <div class="alert alert_success">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["SuccessMessage"]
                    </span>
                </div>
            }
            @if (TempData["EroorMessage"] is not null)
            {
                <div class="alert alert_error">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["EroorMessage"]
                    </span>
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 m-auto mb-3">
            <a asp-controller="Municipality" asp-action="Create" class="nav-link">
                Enregister une Commune
            </a>
        </div>
        <div class="col-md-10 m-auto">
            <table class="table dt-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Commune</th>
                        <th>Ville</th>                   
                        <th>Habitants</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model is not null)
                    {
                        foreach(MunicipalityModel mun in Model)
                        {
                            <tr>
                                <td>@mun.Id</td>
                                <td>@mun.Name</td>
                                <td>@mun.City.Name</td>
                                <td>@mun.Population</td>
                                <td class="d-flex gap-1">
                                    <button class="btn edit-municipality" data-municipality-id="@mun.Id" data-bs-toggle="modal" data-bs-target="#editCityModal">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn text-danger delete-municipality" data-municipality-id="@mun.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="editCityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h2 class="modal-title fs-6">Actualisez les informations d'une commune</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-card p-4" id="editMunicipalityForm">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Nom de la commune<span class="text-danger"> *</span></label>
                                    <input id="Name" class=" form-control" type="text" placeholder="Informer le nom de la ville">
                                    <span class="text-danger" id="error-name-municipality"><small></small></span>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Habitants</label>
                                    <input id="Population" class="form-control" type="number" placeholder="Informer la superficie de la ville">
                                </div>
                            </div>                                                       
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Latitude</label>
                                    <input id="Latitude" class="form-control" type="number" placeholder="Informer la latitude">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Longitude</label>
                                    <input id="Longitude" class="form-control" type="number" placeholder="Informer la longitude">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Ville</label>
                                    <select id="cityId" name="cityId" class="form-select" disabled></select>
                                </div>                                
                            </div>
                            <div class="row justify-content-end p-4">
                                <button type="submit" class="btn btn-block form-btn-submit text-white">Actualiser</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="~/js/municipality.js"></script>
}
