@model List<ComplainTypeResource>
@{
    ViewData["Title"] = "Type de plaintes";
}
<div class="w-100">
    <div class="row">
        <div class="col-md-10 m-auto">
            @if (TempData["SuccessMessage"] is not null)
            {
                <div class="alert alert_success">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["SuccessMessage"]
                    </span>
                </div>
            }
            @if (TempData["ErrorMessage"] is not null)
            {
                <div class="alert alert_error">
                    <button aria-hidden="true" data-dismiss="alert" id="alert-btn-close" class="close text-white" type="button">&times;</button>
                    <span class="text-white">
                        @TempData["ErrorMessage"]
                    </span>
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 m-auto mb-3">
            <a asp-controller="ComplainType" asp-action="Create" class="nav-link">
                Enregister une type de plainte
            </a>
        </div>
        <div class="col-md-10 m-auto">
            <table class="table dt-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Descrition</th>
                        <th>Categorie</th>
                        <th>Priorité</th>
                        <th>Active</th>
                        <th>Code penal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {
                        @foreach (ComplainTypeResource type in Model)
                        {
                            <tr>
                                <td>@type.Id</td>
                                <td>@type.Name</td>
                                <td>@type.Description</td>
                                <td>@type.Category</td>
                                <td>@type.Priority</td>
                                <td>@type.IsActive</td>
                                <td>@type.PenalCode</td>                                                             
                                <td class="d-flex gap-1">
                                    <button class="btn edit-ComplainType" data-ComplainType-id="@type.Id" data-bs-toggle="modal" data-bs-target="#editComplainTypeModal">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn text-danger delete-ComplainType" data-ComplainType-id="@type.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="editComplainTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h2 class="modal-title fs-6">Actualisez les informations d'une type de plainte</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-card p-4" id="editComplainTypeForm">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Nom du type plainte<span class="text-danger"> *</span></label>
                                    <input id="Name" class=" form-control" type="text" placeholder="Informer le nom de type plainte">
                                    <span class="text-danger" id="Name-error"></span>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Categorie de type de plainte<span class="text-danger">*</span></label>
                                    <select id="ComplainTypeCategoryId" id="ComplaintTypeCategoryId" class="form-control" type="text">                                       
                                    </select>
                                    <span class="text-danger" id="ComplaintTypeCategoryId-error"></span>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Prioritée <span class="text-danger">*</span></label>
                                    <select id="Priority" class="form-control" type="text" placeholder="Informer">
                                       <option value="1">Elevé</option>
                                        <option value="2">Normal</option>
                                        <option value="3">Bas</option>
                                    </select>
                                    <span class="text-danger" id="Priority-error"></small></span>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Descrition</label>
                                    <textarea id="Description" class="form-control" type="text" placeholder="Informez une description"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                                    <label class="form-control-label">Code penal / Contenu</label>
                                    <textarea id="PenalCode" class="form-control" type="text" placeholder="Informez une description"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-end p-4">
                                <button type="submit" id="submit-complain-type-create" class="btn btn-block form-btn-submit text-white">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
